

.blob {
    position: fixed;
    pointer-events: none;
}

.yellow {
    top: -135px;
    right: -145px;
    rotate: 150deg;
}

.blue {
    bottom: -165px;
    left: -195px;
}

@media screen and (max-width: 750px) {

    .blob,
    .yellow,
    .blue {
        display: none;
    }

}

@media screen and (min-width: 750.02px) and (max-width: 1023.98px) {

    .blue {
        display: none;
    }

}
