
* {
    box-sizing: border-box;
}

html, body {
    /* this hides scrollbars caused by blobs' positioning */
    overflow-x: hidden; /* actually, redundant with position: fixed for blobs, but I leave this line anyway */
    margin: 0;
}

body {
    /* background-image: url("./static/bg-img.png"); */
    position: relative;
    background-color: var(--body-bg);
    background-image: url("./static/blobs-blau.png");
    background-image: url("./static/blobs-gelb.png");
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
}

main {
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.intro-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30vh auto;
    color: var(--text);
}

.intro-title {
    margin-bottom: 7px;
    font-family: "Karla";
    font-size: 32px;
    font-weight: 700;
}

.intro-descr {
    margin-bottom: 12px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
}

main .div-select {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin: 7px auto;
    font-family: "Inter";

}

.div-select select {
    padding: 3px;
    border: 2px solid var(--btn-bg);
    border-radius: 5px;
    color: var(--text);
}

.intro-btn-start {
    margin-top: 12px;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    color: var(--btn-text);
    background-color: var(--btn-bg);
    font-weight: 600;
    cursor: pointer;
}

.fetch-loading {
    margin: 40vh auto;
    padding: 20px;
    border: 1px solid var(--option-border);
    border-radius: 10px;
    font-style: oblique;
    letter-spacing: 2px;
    color: var(--text);
}

.game-main {
    max-width: 800px;
    margin: 40px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-to-index {
    align-self: flex-start;
    margin: 10px 0 20px;
    padding: 16px 32px;
    border: none;
    border-radius: 15px;
    background-color: var(--btn-bg);
    font-family: "Karla";
    font-weight: 700;
    color: var(--btn-text);
    cursor: pointer;
}

.game-main .record {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: var(--text);
}

.record .question {
    font-family: "Karla";
    font-size: 17px;
    font-weight: 700;
}

.record .options-container {
    display: flex;
    column-gap: 8px;
}

.options-container input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    cursor: pointer;
}

.options-container label {
    padding: 4px 15px;
    border: 1px solid var(--option-border);
    border-radius: 8px;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 500;
    /* white-space: nowrap;  too much stretching */
    cursor: pointer;
    user-select: none;  /* don't select text on option check */
}

.options-container input[type=radio]:checked + label {
    background-color: var(--option-picked-bg);
    border-color: var(--option-picked-border);
}

.options-container input[type=radio]:disabled + label {
    opacity: 0.75;
}

.options-container input[type=radio].correct-option + label {
    background-color: var(--option-correct-bg);
    border-color: var(--option-correct-bg);

}

.record .record-separator {
    height: 2px;
    width: 777px;
    border: none;
    border-radius: 2px;
    background-color: var(--record-separator);
}

.btn-check {
    margin: 15px auto;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    font-family: "Inter";
    font-size: 15px;
    cursor: pointer;
}

.div-score {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.score {
    color: var(--text);
    font-size: 15px;
    font-weight: 700;
    font-family: "Inter";
}

.btn-replay {
    border: none;
    border-radius: 12px;
    padding: 8px 14px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    font-family: "Inter";
}


@media screen and (max-width: 600px) {
    
    main {
        max-width: 95%;
        display: flex;
        flex-direction: column;
    }

    .intro-main {
        padding: 5px;
        margin: 18vh auto;
    }

    .intro-title {
        margin-bottom: 9px;
        font-size: 36px;
    }
    
    .intro-descr {
        font-size: 18px;
    }

    main .div-select {
        width: 300px;
        column-gap: initial;
        row-gap: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: initial;
        margin: 4px auto;
        padding: 5px;
        font-family: "Inter";
        font-size: 17px;
    }

    .div-select select {
        padding: 2px;
        font-size: 17px;
        width: 220px;
    }

    .intro-btn-start {
        padding: 25px 40px;
        font-size: 17px;
        font-weight: 600;
    }

    .game-main {
        width: 95%;
        margin: 20px auto;
        align-items: center;
    }

    .btn-to-index {
        font-size: 17px;
        align-self: center;
    }

    
    .game-main .record {
        width: 95%;
        padding: 10px;
    }

    .record .question {
        font-size: 19px;
    }

    .record .options-container {
        flex-direction: column;
        row-gap: 8px;
    }

    .options-container label {
        min-width: 100px;
        max-width: 280px;
        padding: 12px 18px;
        font-size: 18px;
        font-weight: 500;
    }

    .record .record-separator {
        width: 250px;
    }
    
    .btn-check {
        padding: 21px 36px;
        font-size: 17px;
    }

    .div-score {
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        column-gap: initial;
        row-gap: 8px;
    }

    .score {
        font-size: 18px;
    }

    .btn-replay {
        padding: 15px 36px;
        font-size: 17px;
    }

}


@media screen and (min-width: 600.02px) and (max-width: 1024px) {

    .game-main {
        width: 95%;
        margin: 5px auto;
    }
    
    .game-main .record {
        width: 95%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        color: var(--text);
    }

    .record .record-separator {
        width: 555px;
    }

    .btn-check {
        margin: 15px auto;
        padding: 21px 36px;
        font-size: 18px;
    }

    .div-score {
        column-gap: 18px;
    }
    
    .score {
        font-size: 17px;
    }
    
    .btn-replay {
        padding: 16px 32px;
        font-size: 17px;
    }

}


@media screen and (min-width: 750px) and (max-width: 1024px) {

    .game-main {
        margin-left: 3vw;
    }

}







@media screen and (max-height: 600px) {

    .intro-main {
        margin: 10vh auto;
    }

}